@import 'mobile/medium.css' all and (max-width: 1024px) and (min-width: 768px);
:root {
    /*background colors*/
    --bg-gray: #ccc;
    --bg-gray-light: #eaeaea;
    --bg-gray-lighter: #f6f6f6;
    --white: #ffffff;
    /*text colors*/
    --txt-gray: #666;
    --txt-gray-light: #999;
    /*brand colors*/
    --brown: #A44B3A;
    --blue: #2F638B;
    --yellow: #C9C12C;
    --green: #215A36;
    --lead: #5F726A;
    /*accent color*/
    --blue-light: #6188A7;
}

body{
    font-family: 'Lato', sans-serif !important;
    background-color: #f7f7f7 !important;
}
#unesp-header{
    height: 140px;
    margin: 0px;
    padding: 0px;
    background-color: #215a37;
    overflow-x: hidden;

}
#unesp-header form{
    padding: 0px;
    margin: 45px 20px 0 0;
}
#unesp-header figure{
    margin: 20px 0px 0px 0px;
    padding: 0px;
}
#unesp-header figure > img{
    height: 100px;
    width: auto;
}

#unesp-header h1{
    font-family: 'Cinzel', serif !important;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    margin: 45px 0 0 0;
}
#unesp-header small{
    color: #fff;
    font-family: 'Cinzel', serif !important;
}

#unesp-header form .input-group .input-group-text {
    background: #fff;
    border-left: none;
}
#unesp-header form input{
    border-right: none;
}
#unesp-header form input:active{
    outline: none !important;
}
.head-filtros,
.head-metas{
    text-align: center;
    margin: 2% auto;
    font-size: .9em;
    color: #999;
}
.head-metas{
    text-align: center;
    margin: 0px auto;
    padding: 2% 0px;
    font-size: 1em;
    color: #999;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.container{
    text-align: center; 
}
.container-fluid{
    padding: 0px !important;
    position: relative;
    overflow-x: hidden;
}

.container-fluid.single > header{
    height: 250px;
    background: #fff;
}
.container-fluid.single .card{
    padding: 2% 6%;
}
/* header */
header{
    background-color: #fff;
    padding: 1% 0px 2% 0px;
    margin: 0px;


}
    header figure{
        width: 25%;
        height: auto;
        margin: 0px auto 2% auto;
    }
    header figure  img{
        width: 100%;
        height: 100%;
        
    }
    header figure a,
    header figure a:link,
    header figure a:active,
    header figure a:visited{
        border: none;
    }


    /* navmenu */
     header nav .nav{
         float: right;

     }

     header nav .nav ul{
        border: unset;

     }
     header nav .nav ul li{
         border: unset;

     }
     header nav .nav ul li a{
         margin: 0px 5px 0px 0px;
         border: unset;
         text-transform: uppercase;
         color: #2F638B;

     }
     header nav .nav ul li a:active,
        header nav .nav ul li a:visited{
            color: #6188A7;
        }

     header nav .nav ul li a:hover{
        color: #2F638B;}

     header nav .nav ul li:last-child a{
        margin: 0px;

     }
     /* status metas */
     .button-metas > .btn{ 
        width: 100%;
        height: 70px;
        padding: 2px;
        margin: 0px auto;
        color: #fff;
        background-color: #6c757d47;
        border-radius: 10px;
        height: auto;

     }
     .button-metas > .btn:hover{
        background-color: #6c757da1;

     }
     .button-metas > .btn > span{
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 0px; 
        font-size: .9em;
        display: inline-grid;

     }
     .button-metas > .btn > span:first-child{
         font-size: 2em;
         font-weight: bold;

     }


     .status-metas{
        margin: 10px auto;

     }

/* filtros */
.filtros{
    margin: 10% auto 0px auto;

}
.box-filtros{
    text-align: center;
    background-color: #eaeaea;
    min-height: 140px;

}
.box-filtros .content-filters{
    padding: 2% 0px;

}
.box-filtros .content-filters .row:first-child{
    margin-bottom: 2%;

}
.box-filtros .content-filters select{
    width: 70%;
    float: left;
    background-color: #ccc;
    color: #eee;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    margin: 0px !important;

}
.box-filtros .content-filters button{
    float: left;
    background-color: #ccc;
    color: #eee;
    border-color: #ccc;
    height: 36px;
    font-size: 14px;
    margin: 0px 0px 0px 1%;
    text-transform: capitalize;
    font-weight: bold;

}
.tab-content .tabs{
    margin: 2% auto;
}
.container.interna{
    background: #fff;
    margin-top: 2%;
}
.card.interna{
    background: #F6F6F6;
    text-align: center;
    margin-bottom: 2%;
}
.card.interna .card-header{
    width: auto;
    margin: 0px auto;
    padding: 1% 2%;
}
.card.interna .card-header h5{
    font-size: 1em;    
    color:  rgba(153, 153, 153, 1);
    margin: 0;
    padding: 0;
}
.card{
    text-align: left;
    padding-top: 0px;

}
.card .card-header{
    padding-top: 0px;
    background-color: #fff;

}

.card .card-header .meta-id{
    width: 10%;
    height: 80px;
    border-top: 10px solid #b43a36;
    color: #b43a36;
    float: left;

}
.card .card-header .meta-id a{
    text-decoration: none;
    color: inherit;
}
.card .card-header .meta-id span{ 
    width: 100%;
    float: left;
    text-align: center;

}
    .card .card-header .meta-id span:nth-child(1){
        font-size: 1em;
        text-transform: uppercase;
     }
    .card .card-header .meta-id span:nth-child(2){
        font-size: 2em;
        font-weight: bold;
    }

.card .card-header .meta-buttons{
    width: 20%;
    float: right;
    margin: 2% 0px 0px 0px;

}
.card .card-header .meta-buttons > div{
    float: right;
    width: 35%;
    height: 70px;
}

.card .card-header .meta-buttons > div span{
    font-size: .6em;
    display: inline-block;
    width: 100%;
}
.card .card-header .meta-buttons > div:first-child{
    margin-left: 2%;
}
.card .card-header .meta-buttons > div a{
    width: 100%;
    font-style: italic;
    border-radius: .6em;
}
.card .card-header .meta-buttons > div a.btn-secondary{
    background: #6188A7;
    color: #fff;
}
.card .card-header .meta-buttons > div a.btn-primary{
    background: #F6F6F6;
    color: #6188A7;
    border-color: #F6F6F6;
}
.card .card-header .meta-descricao{
    width: 70%;
    float: left;
    padding: 0px 1%;
    text-align: left;

}


.card.notify{
    background: #F7F7F7;
}
.card.notify .card-header{
    background: inherit;
}
.card.notify .card-body{
    background: inherit;
}
.card.notify .card-header .meta-descricao h5{
    color: #b43a36;
    font-size: 2em;
    padding: 2% 1%;
}
.card.notify .card-header .meta-descricao small{
    color: #999;
    font-size: 1.5em;
    padding: 2% 1%;
    font-weight: normal;
}

.card  small{
    color: #999;
    font-size: .8em;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
.card  p{
    color: #A44B3A;
    font-weight: 700;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}
.card .card-title{
    color: #A44B3A;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}
.card .card-body{
    background: #F7F7F7;
    width: 98%;
    margin: 0px auto;
}
.card .card-body .dados{
    width: 60%;
    float: left;
}
.card .card-body .grafico{
    width: 40%;
    float: left;
}
.card .card-body .card-text{
    width: calc(100% / 3);
    float: left;
    margin: 1% 0px 0px 0px;
    text-align: left;
}
.card .card-body .card-text p{
    color: #666;
    font-size: 2em;
}
.card .card-body .andamento{
    float: left;
    margin: 5% 0px 0px 0px;
    font-weight: bold;
}
.card .card-body .andamento span{
    color: #A44B3A;
    font-size: 1.5em;
}
.card .card-body .andamento span:first-child{
    font-size: 2em;
}

.content-sobre h1{
    font-family: Lato;
    font-weight: bold;
    color: #6188A7;
    text-align: left;
    margin: 0px 0px 1% 0px;
    font-size: 48px;
    line-height: 58px;

}
.content-sobre p{
    color: #666;
    font-family: Lato;
    line-height: 27px;
    font-size: 18px;
}
.content-sobre{
    padding:0px;
    margin: 0px auto;
}
.content-sobre .card{
    background-color: #fff;
    padding: 4% 6%;
    margin: 4% auto;
    border-color: #cccccc4a;
    width: 98%;
}

.content-sobre .card .row{
    margin-bottom: 2%;
}
.content-sobre .card .row:last-child{
    margin-bottom: 0px;
}
.content-sobre .card button{
    width: 100%;
    display: inline-flex;
    background-color: #F6F6F6;
    border-color: #cccccc4a;
    color: #2F638B;
    height: 40px;
    font-size: 1em;
    border-radius: 4px;
    margin: 0px 0px 1% 0px;
        

}
.content-sobre .card button > span{
    display: inline-block;
    width: 99%;
    text-align: left;
}
.content-sobre .card span{
    display: inline-flex;
}
.content-sobre .btn-primary{
    width: 260px;
    height: 60px;
    display: inline-grid;
    background: #6188A7;
    padding: 2px 0px 0px 0px;
    border-radius: 10px;
    border-color: #cccccc4a;
}
.content-sobre .btn-primary:first-child{
    margin-right: 1%;
}
.content-sobre .btn-primary span{
    font-size: 18px;
    font-weight: bold;
    display: inline-grid;
    height: 25px;
}
.content-sobre .btn-primary span:nth-child(2){
    font-size: 14px;
    font-weight: normal;
}

.content-sobre .card ul li{
    font-family: Lato;
    line-height: 27px;
    font-size: 18px;
    color: #666;
}

footer{
    min-height: 300px;
    }

.ods-list span{
    display: inline-block;
    width: 7%;
    height: auto;
    margin: 0 2% 0 0;
}
    .ods-list span img{
        width: 100%;
        border-radius: 10%;
    }

.pne-list span{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 2% 0 0;
    padding: .2em;
    background: #ccc;
    border-radius: 7%;
    font-size: .8em;
    font-weight: bold;
}


#eixoList ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#eixoList .list-group{
    display: inline-block !important;
}
#eixoList {
    float: left;
    display: block;
    width: 100%;
    margin: 1% 0px;
}
#eixoList  .list-group .list-group-item.active{
    color: #A44B3A !important;
    border-bottom: 2px solid #A44B3A !important;
}
#eixoList .list-group .list-group-item{
    float: left;
    cursor: pointer;
    background-color: unset !important;
    color: #ccc !important;
    font-weight: bold;
    width: calc(100% / 5 );
    list-style: none;
    text-align: left;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    padding-left: 1%;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#eixoList .list-group .list-group-item a{
    color: inherit;
}
.tab-content.acoes-box small{
    margin-top: 2%;
}
.tab-content.acoes-box p{
    color: #999;
    font-weight: normal;
    font-size: 1.3em;
}
.tab-content.acoes-box h3{
    color: rgba(102, 102, 102, 1);
    font-size: calc(1.3rem + .2vw);
    text-align: left;
    margin-top: 1%;

}
.acao-list table{
    text-align: left;
    font-size: smaller;
    font-weight: normal;
    color: #999;
}
.acao-list table thead th{
    color: rgba(153, 153, 153, 1);
    font-size: .9em;

}
.acao-list table tbody th,
.acao-list table tbody td{
    font-weight: normal;
    font-size: 1.2em;
    color: rgba(102, 102, 102, 1);
;
}